:root {
  --color-primary: #333333;
  --color-secondary: #d9d8d4;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'BTBrikRegular';
  src: url('./BTBrikRegular.otf');
  font-weight: normal;
  font-style: normal;
}
body {
  background: linear-gradient(90deg, #d9d8d4, #333333, #00141ba2);
  background-size: 600% 600%;
  animation: AnimationName 5s ease infinite;
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.bg-custom {
  /* background-color: rgba(33, 37, 41, 0.8) !important;  */
  /* 214, 20, 20  #d61414*/
  background: linear-gradient(to left, #d9d8d4d0, #222222d0);
}

.navbar-toggler:focus {
  outline: none !important;
  box-shadow: 0 0 0 0.25rem #222222;
}

.navbar-toggler {
  border-color: transparent !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23222222' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.nav-link {
  color: #d9d8d4 !important;
}

.nav-link:hover {
  font-weight: 700 !important;
  color: #d9d8d4 !important;
}

.overlay {
  background-image: url('./images/bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  overflow: auto;
}

canvas {
  width: 100%;
}
.canvas-image {
  width: 100%;
  display: none;
}
input[type='text'] {
  background: #dedede;
  text-transform: uppercase;
  font-family: BTBrikRegular;
  text-align: center;
  letter-spacing: 0.7px;
  font-size: 1.4rem;
}
input[type='text']:focus {
  background: #dedede;
}
.inputs label {
  color: #d5c27a;
  text-align: left;
  font-size: 1.9rem;
}
.credits {
  font-family: 'Source Sans Pro', sans-serif;
}

@media (max-width: 768px) {
  input[type='text'] {
    font-size: 1rem;
    letter-spacing: 0.5px;
  }
  .inputs label {
    font-size: 1.4rem;
  }
}
